[submodule ".gopath/src/github.com/spacemonkeygo/errors"]
	path = .gopath/src/github.com/spacemonkeygo/errors
	url = https://github.com/polydawn/errors
[submodule ".gopath/src/github.com/codegangsta/cli"]
	path = .gopath/src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
[submodule ".gopath/src/github.com/ugorji/go"]
	path = .gopath/src/github.com/ugorji/go
	url = https://github.com/ugorji/go.git
[submodule ".gopath/src/github.com/smartystreets/goconvey"]
	path = .gopath/src/github.com/smartystreets/goconvey
	url = http://github.com/smartystreets/goconvey.git
[submodule ".gopath/src/github.com/jtolds/gls"]
	path = .gopath/src/github.com/jtolds/gls
	url = http://github.com/jtolds/gls.git
[submodule ".gopath/src/github.com/smartystreets/assertions"]
	path = .gopath/src/github.com/smartystreets/assertions
	url = http://github.com/smartystreets/assertions
[submodule ".gopath/src/github.com/kisielk/gotool"]
	path = .gopath/src/github.com/kisielk/gotool
	url = https://github.com/kisielk/gotool
[submodule ".gopath/src/github.com/kisielk/errcheck"]
	path = .gopath/src/github.com/kisielk/errcheck
	url = https://github.com/kisielk/errcheck
[submodule ".gopath/src/golang.org/x/tools"]
	path = .gopath/src/golang.org/x/tools
	url = https://github.com/golang/tools
